<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>listing</key>
	<array>
		<dict>
			<key>label</key>
			<string>Curved Carousel</string>
			<key>controller</key>
			<string>CarouselViewController</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Request Manager</string>
			<key>controller</key>
			<string>RequestManagerViewController</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Image Manager</string>
			<key>controller</key>
			<string>ImageManagerViewController</string>
		</dict>
	</array>
</dict>
</plist>
